<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <style>
            .body{
                border: 0;
                padding: 0;
                margin: 0;
                }
            .navbar{
                   width:100%;
            }
        </style>
        {% block head %}
        {% endblock %}
    </head>
    <body ng-app>
        <nav class="navbar navbar-inverse navbar-fixed-top" >
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Trillio File Operations</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="">Home</a></li>
                {% load static %}

            </ul>
            <form class="navbar-form navbar-left" action="#">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav" style="float: right">
                <li><a href="#" style="text-align: right;" id="username">Welcome Divya Das</a></li>
                <li><a href="logout" style="text-align: right;">Logout</a></li>
            </ul>
          </div>
        </nav>
        </br>-</br></br>

        {%  block body %}

        {% endblock %}

    </body>
</html>